<launch>
    <include file="$(find ros_whill)/launch/basic.launch"/>
    <include file="$(find ros_whill)/launch/amcl.launch"/>
    <!-- ************ Global: default ************** -->
    <!-- ************ Local : dwa ********* -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ros_whill)/params/common_costmap_config.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ros_whill)/params/common_costmap_config.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ros_whill)/params/local_costmap.yaml" command="load" />
    <rosparam file="$(find ros_whill)/params/global_costmap.yaml" command="load" />
    <rosparam file="$(find ros_whill)/params/teb_planner_param.yaml" command="load" />

    <rosparam file="$(find ros_whill)/params/costmap_converter_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />

    </node>
</launch>
